{% extends "layout.html" %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Books list</h3>
  </div>
  {% if list|length == 0 %}
    <div class="panel-body">
      <p>There is no books in the database</p>
    </div>
  {% else %}
    <div class="panel-body" style="text-align:center">
      <form action="{{ url_for('listBooks') }}" method="post" class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="title">Title</label>
          <input type="text" class="form-control" name="title" id="title" placeholder="Search by title">
        </div>
        <div class="form-group">
          <label class="sr-only" for="author">Author</label>
          <input type="text" class="form-control" name="author" id="author" placeholder="Search by author">
        </div>
        <div class="form-group">
          <label class="sr-only" for="year">Year</label>
          <input type="number" class="form-control" name="year" id="year" placeholder="Search by year">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </form>
      <a href="{{ url_for('seeCart') }}"><input type=submit value="Go to your cart"></a>
    </div>
    <table class="table table-hover">
      <th>Title</th>
      <th>Author</th>
      <th>Publication year</th>
      <th>Add to cart</th>
      {% for book in list %}
        <tr>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.year }}</td>
          <td>
            <a href="{{ url_for('addBookToCart') }}?bookTitle={{ book.title }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>
{% endblock %}
